<div class="jumbotron center">
	<h2>About us</h>
	<p>We are working on our One Month Rails Pinteresting App! Walks you through a project nicely,
		learning basics of sourcing Ruby gems, CSS Bootstrap widgets, authentication, using GIT and 
		Heroku - and you end the class with a usable starter application.  Really fires you up to take on
		next steps to learn Ruby/Rails in more depth.</p>
</div>